<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FinanceDB"
         connectionString="Server=103.236.96.82;Port=13306;Database=FinanceDB;Uid=remote;Pwd=ToCAt69Aidc16I1KvkQo2YWMlUl01U0o;CharSet=utf8mb4;"
         providerName="MySqlConnector"/>
  </connectionStrings>
  <appSettings>
    <add key="CompanyName" value="财智星财务软件"/>
    <add key="Version" value="1.0.0"/>
    <add key="BuildDate" value="2026-06-23"/>
  </appSettings>
</configuration>
